<div id="update-game">
    <a (click)="showDialog()">
        <i id="help-icon" class="fas fa-question-circle"></i>
    </a>
    <form [formGroup]="updateGameForm">
        <div>
            <label for="game">Jogo</label>
            <p-dropdown [options]="games" formControlName="game" optionLabel="name" optionValue="id"
                [autoDisplayFirst]="false"></p-dropdown>
            <small class="p-error"
                *ngIf="updateGameForm.controls.game.invalid && !updateGameForm.controls.game.pristine">
                Jogo é obrigatório!
            </small>
        </div>
        <div>
            <label for="game">Estado</label>
            <p-dropdown [options]="status" formControlName="status" optionLabel="description" optionValue="number"
                [autoDisplayFirst]="false"></p-dropdown>
            <small class="p-error"
                *ngIf="updateGameForm.controls.status.invalid && !updateGameForm.controls.status.pristine">
                Estado é obrigatório!
            </small>
        </div>
    </form>
    <button pButton class="p-button-text p-button-raised p-button-primary" type="button" label="Alterar Jogo"
        [disabled]="updateGameForm.invalid" (click)="updateGame()"></button>
    <div id="list-games">
        <h3><b>Jogos</b></h3>
        <p-listbox [options]="games" optionLabel="name">
            <ng-template let-game pTemplate="item">
                <span [ngClass]="{'active-game': game.status === 1}">
                    {{game.name}}
                </span>
                <span>
                    &nbsp;|&nbsp;
                </span>
                <span [ngClass]="{'single-player': game.isSingleplayer, 'multi-player': !game.isSingleplayer}">
                    {{game.isSingleplayer ? 'SP' : 'MP'}}
                </span>
            </ng-template>
        </p-listbox>
        <h3><b>Legenda</b></h3>
        <ul>
            <li>
                <h4>Jogo Inativo</h4>
            </li>
            <li>
                <h4 class="active-game"><b>Jogo Ativo</b></h4>
            </li>
            <li>
                <h4 class="single-player">SP -> 1v1 (1 Jogador)</h4>
            </li>
            <li>
                <h4 class="multi-player">MP -> 5v5 (Vários Jogadores)</h4>
            </li>
        </ul>
    </div>
</div>
<p-dialog [(visible)]="displayHelp" [modal]="true" [draggable]="false" [dismissableMask]="true" [blockScroll]="true"
    [resizable]="false">
    <h3><b>Alteração de um Jogo</b></h3>
    <p>
        Os jogos contêm 2 possíveis estados:
    </p>
    <ul>
        <li><b>Inativo</b>: Estado associado a um <b>jogo não presente</b> na edição corrente.</li>
        <li><b>Ativo</b>: Estado associado a um <b>jogo presente</b> na edição corrente.</li>
    </ul>
    <p>
        Os dados inseridos nas seguintes <i>tabs</i> devem ser associados ao jogo a que são respetivos e, para tal,
        esses mesmos jogos devem estar ativos.
    </p>
    <p><b>Nota</b>: Um jogo não é específico a uma edição pelo que, se estiver ativo, está ativo para a edição corrente.
        No entanto, o jogo pode ficar ativo para múltiplas edições. Não é necessária a criação do mesmo jogo para
        edições posteriores.</p>
    <h3><b>Passos</b></h3>
    <ol>
        <li>Selecionar o jogo no campo <b>"Jogo"</b></li>
        <li>Selecionar o estado para que o jogo deve transicionar no campo <b>"Estado"</b></li>
        <li>Carregar no botão <b>"Alterar Jogo"</b></li>
    </ol>
    <hr>
    <p>
        Todas os jogos ficam registados e são visíveis na lista apresentada em baixo dos campos a
        preencher.
    </p>
    <p>
        As cores representam o estado de cada jogo e a legenda específica o significado de cada cor.
    </p>
</p-dialog>
<p-toast position="bottom-center" optionLabel="name"></p-toast>