<div id="sign-in">
    <div id="sign-in-wrapper">
        <form [formGroup]="signInForm">
            <div>
                <span class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input id="username-input" type="text" placeholder="Username" pInputText formControlName="username"
                        required />
                </span>
                <small *ngIf="signInForm.controls.username.invalid && !signInForm.controls.username.pristine">
                    Username é obrigatório!
                </small>
            </div>

            <div>
                <span id="pwd-field" class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input [type]="showPwd ? 'text' : 'password'" placeholder="Password" pPassword [feedback]="false"
                        formControlName="password" required />
                    <i id="mask-toggle" [ngClass]="showPwd ? 'pi pi-eye' : 'pi pi-eye-slash'"
                        (click)="showPwd = !showPwd"></i>
                </span>
                <small *ngIf="signInForm.controls.password.invalid && !signInForm.controls.password.pristine">
                    Password é obrigatório!
                </small>
            </div>
        </form>
        <button id="sign-in-btn" pButton class="p-button-text p-button-raised p-button-danger" type="button"
            label="Entrar" [disabled]="signInForm.invalid" icon="pi pi-sign-in" iconPos="right"
            (click)="handleLogin()"></button>
    </div>
</div>
<p-toast position="bottom-center" [preventOpenDuplicates]="true"></p-toast>