@import '../../colors.scss';

#sign-in {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #sign-in-wrapper {
        display: flex;
        flex-direction: column;
        padding: 35px;
        border: 2px solid #6b6b6b;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px #6b6b6c, 0px 0px 5px inset #6b6b6b;

        & * {
            margin: 5px 0px;
        }

        #username-input {
            &:hover {
                border-color: $informatico;
            }

            &:focus {
                box-shadow: 0 0 0 0.2rem #f3c3f2;
                border-color: $informatico;
            }
        }

        #pwd-field {
            position: relative;

            &>input {
                padding-right: 30px;

                &:hover {
                    border-color: $informatico;
                }

                &:focus {
                    box-shadow: 0 0 0 0.2rem #f3c3f2;
                    border-color: $informatico;
                }
            }

            #mask-toggle {
                position: absolute;
                margin: 0;
                top: 50%;
                right: 10px;
                opacity: 0.6;
                transform: translateY(-50%);
                z-index: 1001;
                transition: all 0.2s;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }

        #sign-in-btn {
            color: $informatico;
            font-weight: bold;

            &:hover {
                background-color: #cf61cd0a;
            }

            &:active {
                background-color: #f041ed29;
            }

            &:focus {
                box-shadow: 0 0 0 0.2rem $informatico;
            }
        }
    }
}