<!-- pc menu (side-bar) -->
<div id="side-bar" class="side-bar-common">
    <a routerLink="/">
        <img class="logo" src="../../assets/img/esports-logo.png" alt="eSports ISEP League" />
    </a>

    <div id="choose-game" class="choose-game-common">
        <img class="game" *ngFor="let game of games" [class]="game.class" [ngClass]="game.active ? 'active-game' : ''"
            [src]="game.imageURL" (click)="selectGame(game.shortName,'l1')" />
    </div>
  <div id="choose-game2" class="choose-game-common">
    <img class="game" *ngFor="let game of games2" [class]="game.class" [ngClass]="game.active ? 'active-game' : ''"
         [src]="game.imageURL" (click)="selectGame(game.shortName,'l2')" />
  </div>
    <div id="menu">
        <a [ngClass]="!selectedGame ? 'disabled-item' : ''" [tabindex]="!selectedGame ? -1 : 0"
            [href]="selectedGame ? selectedGame.formLink : ''" target="_blank" rel="noreferrer">
            <i class="fas fa-sign-in-alt"></i> Inscrições
        </a>
        <a [ngClass]="!selectedGame ? 'disabled-item' : ''" [tabindex]="!selectedGame ? -1 : 0"
            [href]="selectedGame ? selectedGame.regulationFile : ''" target="_blank" rel="noreferrer">
            <i class="far fa-file-pdf"></i> Regulamento
        </a>
        <a  class="disabled-item" tabindex="-1" *ngIf="selectedGame && ( selectedGame.shortName == 'CR'||selectedGame.shortName=='FIFA'||selectedGame.shortName=='TFT')" routerLink="/jogadores"
            routerLinkActive="active-item">
            <i class="fas fa-users"></i> Jogadores
        </a>
        <a  class="disabled-item" tabindex="-1" *ngIf="!selectedGame || ( selectedGame.shortName !== 'CR' && selectedGame.shortName !== 'FIFA' && selectedGame.shortName !=='TFT')" routerLink="/equipas"
            routerLinkActive="active-item">
            <i class="fas fa-shield-alt"></i> Equipas
        </a>
        <a class="disabled-item" tabindex="-1" routerLink="/horario" routerLinkActive="active-item">
            <i class="fas fa-calendar-alt"></i> Horário
        </a>
        <a class="disabled-item" tabindex="-1" routerLink="/classificacao" routerLinkActive="active-item">
            <i class="fas fa-list-ol"></i> Classificação
        </a>
        <a class="disabled-item" tabindex="-1" routerLink="/estatisticas" routerLinkActive="active-item">
            <i class="fas fa-chart-bar"></i> Estatísticas
        </a>
        <a class="disabled-item" tabindex="-1" routerLink="/transmissao" routerLinkActive="active-item">
            <i class="fas fa-tv"></i> Transmissão
        </a>
    </div>
    <div id="social-media">
        <a href="https://www.facebook.com/aeISEP/" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/aeisep/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCy31edKsoqo2CuXxvqKhdjQ" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.twitch.tv/aeisep/" target="_blank">
            <i class="fab fa-twitch"></i>
        </a>
    </div>
    <a id="ae-logo-wrapper" href="https://aeisep.pt/" target="_blank">
        <img class="logo" src="../../assets/img/aeisep-logo.png" alt="aeISEP" />
    </a>

</div>


<!-- mobile menu (top-bar) -->
<div id="side-bar-mobile" class="side-bar-common">


    <div id="menu-icon" [ngClass]="isMenuOpen ? 'open-menu-icon': ''" (click)="isMenuOpen = !isMenuOpen">
        <i class="fas fa-bars fa-2x"></i>
    </div>
    <div id="menu-dropdown" [ngClass]="isMenuOpen ? 'open-menu' : 'closed-menu'">
        <a class="choose-game-common">
            <img *ngFor="let game of games" [class]="game.class" [ngClass]="game.active ? 'active-game' : ''"
                [src]="game.imageURL" (click)="selectGame(game.shortName,'l1')" />
        </a>
      <a class="choose-game-common">
        <img *ngFor="let game of games2" [class]="game.class" [ngClass]="game.active ? 'active-game' : ''"
             [src]="game.imageURL" (click)="selectGame(game.shortName,'l2')" />
      </a>
        <a [ngClass]="!selectedGame ? 'disabled-item' : ''" [tabindex]="!selectedGame ? -1 : 0"
            [href]="selectedGame ? selectedGame.formLink : ''" target="_blank" rel="noreferrer">
            <i class="fas fa-sign-in-alt"></i> Inscrições
        </a>
        <a [ngClass]="!selectedGame ? 'disabled-item' : ''" [tabindex]="!selectedGame ? -1 : 0"
            [href]="selectedGame ? selectedGame.regulationFile : ''" target="_blank" rel="noreferrer">
            <i class="far fa-file-pdf"></i> Regulamento
        </a>
        <a class="disabled-item" tabindex="-1" *ngIf="selectedGame && (selectedGame.shortName === 'HS' || selectedGame.shortName == 'CR'||selectedGame.shortName=='FIFA')" routerLink="/jogadores"
            routerLinkActive="active-item">
            <i class="fas fa-users"></i> Jogadores
        </a>
        <a class="disabled-item" tabindex="-1" *ngIf="!selectedGame || (selectedGame.shortName !== 'HS' && selectedGame.shortName !== 'CR' && selectedGame.shortName !== 'FIFA' )" routerLink="/equipas"
            routerLinkActive="active-item">
            <i class="fas fa-shield-alt"></i> Equipas
        </a>
        <a class="disabled-item" tabindex="-1" routerLink="/horario" routerLinkActive="active-item">
            <i class="fas fa-calendar-alt"></i> Horário
        </a>
        <a class="disabled-item" tabindex="-1" routerLink="/classificacao" routerLinkActive="active-item">
            <i class="fas fa-list-ol"></i> Classificação
        </a>
        <a class="disabled-item" tabindex="-1" routerLink="/estatisticas" routerLinkActive="active-item">
            <i class="fas fa-chart-bar"></i> Estatísticas
        </a>
        <a class="disabled-item" tabindex="-1" routerLink="/transmissao" routerLinkActive="active-item">
            <i class="fas fa-tv"></i> Transmissão
        </a>
    </div>
</div>
