@import '../../colors.scss';

/* pc side-bar */
#side-bar {
    height: 100%;
    width: 300px;
    background: #1d1d1b;
    background: linear-gradient(180deg, #1d1d1b 0%, #373737 100%);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    padding: 15px;

    #choose-game {
        display: flex;
        margin: -10px -15px 5px -15px;
        padding: 20px 0px;
    }

    #choose-game2 {
        display: flex;
        margin: -10px -15px 5px -15px;
        padding: 20px 0px;
    }

    .game {
        margin-left: 1%;
        margin-right: 1%;
    }

    #menu {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;

        a {
            height: 5.556vh;
        }
    }

    #social-media {
        display: flex;
        justify-content: space-evenly;
        margin: 5px 0px;

        a {
            &>svg {
                padding: 10px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: white;
                color: $informatico;
                filter: drop-shadow(0px 0px 4px #000);
                transition: all 0.2s;

                &:hover {
                    background-color: $main-shadow;
                    opacity: 0.75;
                }
            }
        }
    }

    #ae-logo-wrapper {
        margin: 10px 0 0 0;
        max-width: 120%;
        max-height: 120%;
        align-self: center;
    }
}

/* hide mobile topbar when pc */
#side-bar-mobile {
    display: none;
}

/* common for mobile and pc */
.side-bar-common {
    z-index: 1002;
    box-shadow: 3px 0px 8px #6e6e6e;
}

/* logos */
.logo {
    max-height: 70%;
    max-width: 70%;
    filter: drop-shadow(0px 0px 4px #e7e7e7);
    transition: all 0.2s;
    margin-left: 23%;

    &:hover {
        opacity: 0.8;
    }
}

/* ----- */

/* choose game common */
.choose-game-common {
    justify-content: space-evenly;
    background: #414141;
    background: linear-gradient(135deg, #414141 0%, #535353 50%, #414141 100%);
    box-shadow: 0px 0px 10px #1f1f1d inset;
    border: 1px solid #1f1f1d !important;

    img {
        height: 100%;
        width: 14%;
        border-radius: 5px;
        cursor: pointer;
        filter: grayscale(1) drop-shadow(0px 0px 3px #000);

        @mixin hover-game($color) {
            filter: drop-shadow(0px 0px 5px $color);
        }

        @mixin active-game($color) {
            filter: brightness(1.1) drop-shadow(0px 0px 5px $color);
        }

        &.csgo:hover {
            @include hover-game(#ebbe59);
        }

        &.csgo.active-game {
            @include active-game(#ffd263);
        }

        &.lol:hover {
            @include hover-game(#1c384a);
        }

        &.lol.active-game {
            @include active-game(#1e4159);
        }

        &.valorant:hover {
            @include hover-game(#ff5152);
        }

        &.valorant.active-game {
            @include active-game(#ff5f5e);
        }

        &.hs:hover {
            @include hover-game(#e4d284);
        }

        &.hs.active-game {
            @include active-game(#fff39d);
        }

        &.bs:hover {
            @include hover-game(#500707);
        }

        &.bs.active-game {
            @include active-game(#500707);
        }

        &.cr:hover {
            @include hover-game(#4fd7e5);
        }

        &.cr.active-game {
            @include active-game(#4fd7e5);
        }

        &.fifa:hover {
            @include hover-game(#dcf652);
        }

        &.fifa.active-game {
            @include active-game(#dcf652);
        }

    }
}

/* ------------------ */

/* menu */
#menu a,
#menu-dropdown a {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-size: 18px;
    letter-spacing: 2px;
    border-bottom: 1px solid #686868;
    text-decoration: none;
    color: $marketing;

    &>svg {
        width: 20px;
        margin-right: 10px;
    }

    &:hover {
        background-color: $main-shadow;
        border-radius: 4px;
    }

    &.disabled-item {
        opacity: 0.4;
        pointer-events: none;
        user-select: none;
    }

    &.active-item {
        background-color: $main-shadow;
        opacity: 0.5;
        border-radius: 4px;
    }
}

/* ---- */

/* mobile side (top) bar */
@media only screen and (max-width: 992px) {

    /* hide pc sidebar when mobile */
    #side-bar {
        display: none;
    }

    #side-bar-mobile {
        height: 60px;
        width: 100%;
        display: flex;
        position: fixed;
        background: #1d1d1b;
        background: linear-gradient(180deg, #1d1d1b 0%, #21211f 100%);


        #esports-logo-wrapper {
            width: 90%;
            padding: 5px;
        }

        #menu-icon {
            display: flex;
            align-items: center;
            margin-left: 24px;

            &>svg {
                color: #d6d6d6;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    filter: drop-shadow(0px 0px 4px #fff);
                    color: #fff;
                }
            }

            &.open-menu-icon>svg {
                filter: drop-shadow(0px 0px 4px #fff);
                color: #fff;
            }
        }

        #menu-dropdown {
            height: calc(100vh - 60px);
            width: 100%;
            position: absolute;
            top: 60px;
            background: #21211f;
            background: linear-gradient(180deg, #21211f 0%, #373737 100%);

            &.open-menu {
                display: flex;
                flex-direction: column;
            }

            &.closed-menu {
                display: none;
            }

            a {
                height: 10%;

                /* choose game */
                &:nth-child(1) {
                    height: 8%;
                    padding: 0px;

                    &>img {
                        height: 60%;
                        width: auto;
                    }
                }

                &:nth-child(2) {
                    height: 8%;
                    padding: 0px;

                    &>img {
                        height: 60%;
                        width: auto;
                    }
                }

            }
        }
    }
}