@import '../../colors.scss';

#footer {
    height: 70px;
    width: calc(100vw - 250px);
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 1001;
    background-color: $main-color;
    box-shadow: 3px 0px 8px $main-shadow;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;

        &:hover {
            background-color: #424242;
        }

        .sponsor {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 60px;
                max-width: 100%;
                width: auto;
                padding: 10px;
            }

            #moche-logo {
                filter: saturate(200%);
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #footer {
        height: 60px;
        width: 100%;

        a {
            width: 100%;
        }
    }
}