<div id="footer">
    <a href="https://www.isep.ipp.pt/" target="_blank">
        <div class="sponsor">
            <img src="../../assets/brands/isep.png" alt="ISEP - Instituto Superior de Engenharia do Porto"/>
        </div>
    </a>
    <a href="https://www.ipp.pt/" target="_blank">
        <div class="sponsor">
            <img src="../../assets/brands/pporto.png" alt="P.Porto"/>
        </div>    
    </a>
    <a href="https://www.moche.pt/" target="_blank">
        <div class="sponsor">
            <img id="moche-logo" src="../../assets/brands/moche.png" alt="Moche"/>
        </div>
    </a>
    <a href="https://ipdj.gov.pt/" target="_blank">
        <div class="sponsor">
            <img src="../../assets/brands/ipdj.png" alt="IPDJ"/>
        </div>  
    </a>
</div>