<div id="create-edition">
    <a (click)="showDialog()">
        <i id="help-icon" class="fas fa-question-circle"></i>
    </a>
    <form [formGroup]="createEditionForm">
        <div>
            <label for="edition-name">Nome</label>
            <input id="edition-name" type="text" pInputText formControlName="name" required />
            <small class="p-error"
                *ngIf="createEditionForm.controls.name.invalid && !createEditionForm.controls.name.pristine">
                Nome é obrigatório!
            </small>
        </div>
    </form>
    <button pButton class="p-button-text p-button-raised p-button-primary" type="button" label="Adicionar Edição"
        [disabled]="createEditionForm.invalid" (click)="createEdition()"></button>
    <div id="list-editions">
        <h3><b>Edições</b></h3>
        <p-listbox [options]="editions" optionLabel="name">
            <ng-template let-edition pTemplate="item">
                <span [ngClass]="{'open-edition': edition.status === 1, 'current-edition': edition.status === 2}">
                    {{edition.name}}
                </span>
            </ng-template>
        </p-listbox>
        <h3><b>Legenda</b></h3>
        <ul>
            <li>
                <h4>Edição Inativa</h4>
            </li>
            <li>
                <h4 class="open-edition"><b>Edição com Inscrições Abertas</b></h4>
            </li>
            <li>
                <h4 class="current-edition"><b>Edição a Decorrer</b></h4>
            </li>
        </ul>
    </div>
</div>
<p-dialog [(visible)]="displayHelp" [modal]="true" [draggable]="false" [dismissableMask]="true" [blockScroll]="true"
    [resizable]="false">
    <h3><b>Criação de uma Edição</b></h3>
    <p>
        As equipas, jogadores e partidas são dados específicos a cada edição pelo que a criação das mesmas deve ser o
        primeiro passo a tomar.
    </p>
    <p>
        O nome da edição deve ser algo descritivo e seguido da data da edição. O nome da edição é único pelo que não o
        devem repetir pois a criação irá falhar.
    </p>
    <p><b>Ex.:</b> eSports ISEP League 2020/2021 2º Semestre</p>
    <h3><b>Passos</b></h3>
    <ol>
        <li>Inserir o nome da edição no campo <b>"Nome"</b></li>
        <li>Carregar no botão <b>"Adicionar Edição"</b></li>
    </ol>
    <hr>
    <p>
        Todas as edições anteriores ficam registadas e são visíveis na lista apresentada em baixo dos campos a
        preencher.
    </p>
    <p>
        As cores representam o estado de cada edição e a legenda específica o significado de cada cor.
    </p>
</p-dialog>
<p-toast position="bottom-center" optionLabel="name"></p-toast>