#create-edition {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #help-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.1);
            filter: opacity(0.8);
            cursor: pointer;
        }
    }

    form {
        width: 100%;

        &>div {
            display: flex;
            flex-direction: column;

            &>label {
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            &>input {
                font-size: 12px;
            }

            &>small {
                margin-top: 5px;
            }
        }

        &+button {
            margin-top: 20px;
        }
    }

    #list-editions {
        &>h3 {
            margin-top: 20px;
            text-align: center;
        }

        h4 {
            margin: 0px;
        }
    }
}

.open-edition {
    font-weight: bold;
    color: #28d8ac;
}

.current-edition {
    font-weight: bold;
    color: #13d46a;
}

::ng-deep .p-dialog {
    width: 50%;
    margin-left: 250px;
    margin-bottom: 70px;
    text-align: justify;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0px;
    }

    .p-dialog-header {
        padding: 0.6rem 1.5rem 0rem 1.5rem;
        justify-content: flex-end;
    }

    .p-dialog-content {
        padding-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 1280px) {
    #create-edition {
        width: 40%;
    }
}