<div id="create-team">
    <a (click)="showDialog()">
        <i id="help-icon" class="fas fa-question-circle"></i>
    </a>
    <form [formGroup]="createTeamForm">
        <div>
            <label for="game">Jogo</label>
            <p-dropdown id="game" [options]="games" formControlName="game" optionLabel="name" optionValue="id"
                [autoDisplayFirst]="false" (onChange)="filterTeams()"></p-dropdown>
            <small class="p-error"
                *ngIf="createTeamForm.controls.game.invalid && !createTeamForm.controls.game.pristine">
                Jogo é obrigatório!
            </small>
        </div>
        <div>
            <label for="team-name">Nome da Equipa</label>
            <input id="team-name" type="text" pInputText formControlName="name" required />
            <small class="p-error" *ngIf=" createTeamForm.controls.name.invalid &&
                !createTeamForm.controls.name.pristine">
                Nome da Equipa é obrigatório!
            </small>
        </div>
    </form>
    <form [formGroup]="addPlayerForm">
        <h3><b>Jogadores da Equipa</b></h3>
        <div>
            <label for="player-name">Nome do Jogador</label>
            <input id="player-name" type="text" pInputText formControlName="name" required />
            <small class="p-error" *ngIf=" addPlayerForm.controls.name.invalid &&
                            !addPlayerForm.controls.name.pristine">
                Nome do Jogador é obrigatório!
            </small>
        </div>
        <div>
            <label for="player-nickname">Nickname</label>
            <input id="player-name" type="text" pInputText formControlName="nickname" required />
            <small class="p-error" *ngIf=" addPlayerForm.controls.nickname.invalid &&
                            !addPlayerForm.controls.nickname.pristine">
                Nickname é obrigatório!
            </small>
        </div>
        <div>
            <label for="degree">Curso</label>
            <p-dropdown id="degree" [options]="degrees" formControlName="degree" [autoDisplayFirst]="false">
            </p-dropdown>
            <small class="p-error"
                *ngIf="addPlayerForm.controls.degree.invalid && !addPlayerForm.controls.degree.pristine">
                Curso é obrigatório!
            </small>
        </div>
    </form>
    <button pButton class="p-button-text p-button-raised p-button-primary" type="button" label="Adicionar Jogador"
        [disabled]="addPlayerForm.invalid" (click)="addPlayerToTeam()"></button>
    <button pButton class="p-button-text p-button-raised p-button-primary" type="button" label="Adicionar Equipa"
        [disabled]="createTeamForm.invalid || players.length < 5 || players.length > 7 || !activeEdition"
        (click)="createTeam()"></button>
    <div id="list-players" [ngClass]="{'hide-list': players.length === 0}">
        <h3><b>Jogadores</b></h3>
        <p-listbox [options]="players" [(ngModel)]="selectedPlayer" optionLabel="name">
            <ng-template let-player pTemplate="item">
                <span
                    [ngClass]="{'full-time': players.indexOf(player) <= 4, 'substitute': players.indexOf(player) > 4}">
                    <b>Nome: </b>{{player.name}} | <b>Nickname: </b>{{player.nickname}}
                </span>
            </ng-template>
        </p-listbox>
        <button pButton class="p-button-text p-button-raised p-button-primary" type="button" label="Apagar Membro"
            [disabled]="!selectedPlayer" (click)="removePlayer()"></button>
        <h3><b>Legenda</b></h3>
        <ul>
            <li>
                <h4 class="full-time">Membro Efetivo</h4>
            </li>
            <li>
                <h4 class="substitute"><b>Membro Suplente</b></h4>
            </li>
        </ul>
    </div>
    <div id="list-teams">
        <h3><b>Edição Ativa: </b>
            <span *ngIf="activeEdition" class="active-edition">{{activeEdition.name}}</span>
            <span *ngIf="!activeEdition" class="no-edition">Nenhuma</span>
        </h3>
        <h3><b>Equipas</b></h3>
        <p-listbox [options]="visibleTeams" optionLabel="name">
            <ng-template let-team pTemplate="item">
                <span [pTooltip]="teamTooltip" (mouseover)="fetchPlayersByTeam(team.id)" (mouseout)="resetTooltip()">
                    {{team.name}} | {{ team.game }}
                </span>
            </ng-template>
        </p-listbox>
    </div>
</div>
<p-dialog [(visible)]="displayHelp" [modal]="true" [draggable]="false" [dismissableMask]="true" [blockScroll]="true"
    [resizable]="false">
    <h3><b>Criação de uma Equipa</b></h3>
    <p>
        As equipas são compostas obrigatóriamente por 5 jogadores e, opcionalmente, por 2 suplentes. As equipas devem
        ser criadas apenas para os jogos em formato de grupo (5v5) pelo que a lista de jogos a que se pode associar uma
        equipa apenas apresenta jogos nesse estilo.
    </p>
    <p>
        Os jogadores da equipa devem ser inseridos na seguinte ordem:
    </p>
    <ul>
        <li>Capitão</li>
        <li>Membro Efetivo</li>
        <li>Membro Efetivo</li>
        <li>Membro Efetivo</li>
        <li>Membro Efetivo</li>
        <li>Membro Suplente (se existir)</li>
        <li>Membro Suplente (se existir)</li>
    </ul>
    <p>
        Relembramos que é necessário criar e ativar préviamente as edições e jogos para quais as equipas vão ser
        criadas.
    </p>
    <h3><b>Passos</b></h3>
    <ul>
        <li>Adicionar Jogadores</li>
        <ol>
            <li>Inserir o nome <i>(real)</i> do jogador no campo <b>"Nome do Jogador"</b></li>
            <li>Inserir o nickname <i>(in-game)</i> do jogador no campo <b>"Nickname"</b></li>
            <li>Selecionar o curso do jogador no campo <b>"Curso"</b></li>
            <li>Carregar no botão <b>"Adicionar Jogador"</b></li>
            <li>Repetir o processo para os restantes jogadores da equipa <b>(pela ordem especificada em cima)</b></li>
        </ol>
        <li>Criar Equipa</li>
        <ol>
            <li>Selecionar o jogo associado à equipa no campo <b>"Jogo"</b></li>
            <li>Inserir o nome da equipa no campo <b>"Nome da Equipa"</b></li>
            <li>Carregar no botão <b>"Adicionar Equipa"</b></li>
        </ol>
    </ul>
    <hr>
    <p>
        Todos os jogadores que vão sendo adicionados à equipa são apresentados na lista do lado direito do ecrã (apenas
        vísivel após adição de, pelo menos, um jogador) e estão associados a uma cor representativa do estado do jogador
        (efetivo ou suplente).
    </p>
    <p>
        A edição à qual a equipa ficará associada encontra-se assinalada no lado esquerdo do ecrã.
    </p>
    <p>
        Todas as equipas ficam registadas e são visíveis na lista apresentada no lado esquerdo do ecrã. Ao passar o rato
        por cima do nome da equipa, os jogadores da mesma serão visíveis.
    </p>
</p-dialog>
<p-toast position="bottom-center" optionLabel="name"></p-toast>