<div>
    <form [formGroup]="rescheduleMatchForm">
        <div>
            <label for="game">Jogo</label>
            <input id="game" type="text" pInputText formControlName="game" required />
            <small *ngIf="rescheduleMatchForm.controls.game.invalid && !rescheduleMatchForm.controls.game.pristine">
                Jogo é obrigatório!
            </small>
        </div>
    </form>
    <button pButton class="p-button-text p-button-raised p-button-primary" type="button" label="Remarcar Partida"
        [disabled]="rescheduleMatchForm.invalid" (click)="rescheduleMatch()"></button>
</div>