@import '../../../colors.scss';

#create-player {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #help-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.1);
            filter: opacity(0.8);
            cursor: pointer;
        }
    }

    form {
        width: 100%;

        h3 {
            margin-top: 15px;
            margin-bottom: 2px;
        }

        &>div {
            display: flex;
            flex-direction: column;

            &>label {
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            ::ng-deep .p-dropdown {
                width: 100%;

                &:hover {
                    border-color: $informatico;
                }

                &.p-focus {
                    box-shadow: 0 0 0 0.2rem #f3c3f2;
                    border-color: $informatico;
                }

                &>span {
                    font-size: 12px;
                }

                &>.p-dropdown-panel {
                    font-size: 12px;
                }
            }

            &>input {
                font-size: 12px;
            }

            &>small {
                margin-top: 5px;
            }
        }

        &+button {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    #list-players {
        position: absolute;
        top: 0;
        left: 2%;
        display: flex;
        flex-direction: column;

        &.hide-list {
            display: none;
        }

        h3 {
            margin-top: 20px;
            text-align: center;

            span {
                font-size: 16px;
            }
        }

        h4 {
            margin: 0px;
        }

        span {
            font-size: 12px;
        }
    }
}

.full-time {
    font-weight: bold;
    color: #26c7f0;
}

.substitute {
    font-weight: bold;
    color: #f0d226;
}

.active-edition {
    font-weight: bold;
    color: #13d46a;
}

.no-edition {
    font-weight: bold;
    color: #e94242;
}

::ng-deep .p-dialog {
    width: 50%;
    margin-left: 250px;
    margin-bottom: 70px;
    text-align: justify;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0px;
    }

    .p-dialog-header {
        padding: 0.6rem 1.5rem 0rem 1.5rem;
        justify-content: flex-end;
    }

    .p-dialog-content {
        padding-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 1280px) {
    #create-team {
        width: 40%;
    }
}