<div id="create-player">
    <a (click)="showDialog()">
        <i id="help-icon" class="fas fa-question-circle"></i>
    </a>
    <form [formGroup]="createPlayerForm">
        <div>
            <label for="game">Jogo</label>
            <p-dropdown id="game" [options]="games" formControlName="game" optionLabel="name" optionValue="id"
                [autoDisplayFirst]="false" (onChange)="filterPlayers()"></p-dropdown>
            <small class="p-error"
                *ngIf="createPlayerForm.controls.game.invalid && !createPlayerForm.controls.game.pristine">
                Jogo é obrigatório!
            </small>
        </div>
        <div>
            <label for="player-name">Nome</label>
            <input id="player-name" type="text" pInputText formControlName="name" required />
            <small class="p-error" *ngIf=" createPlayerForm.controls.name.invalid &&
                                    !createPlayerForm.controls.name.pristine">
                Nome é obrigatório!
            </small>
        </div>
        <div>
            <label for="player-nickname">Nickname</label>
            <input id="player-name" type="text" pInputText formControlName="nickname" required />
            <small class="p-error" *ngIf=" createPlayerForm.controls.nickname.invalid &&
                                    !createPlayerForm.controls.nickname.pristine">
                Nickname é obrigatório!
            </small>
        </div>
        <div>
            <label for="degree">Curso</label>
            <p-dropdown id="degree" [options]="degrees" formControlName="degree" [autoDisplayFirst]="false">
            </p-dropdown>
            <small class="p-error"
                *ngIf="createPlayerForm.controls.degree.invalid && !createPlayerForm.controls.degree.pristine">
                Curso é obrigatório!
            </small>
        </div>
    </form>
    <button pButton class="p-button-text p-button-raised p-button-primary" type="button" label="Adicionar Jogador"
        [disabled]="createPlayerForm.invalid || !activeEdition" (click)="createPlayer()"></button>
    <div id="list-players">
        <h3><b>Edição Ativa: </b>
            <span *ngIf="activeEdition" class="active-edition">{{activeEdition.name}}</span>
            <span *ngIf="!activeEdition" class="no-edition">Nenhuma</span>
        </h3>
        <h3><b>Jogadores</b></h3>
        <p-listbox [options]="visiblePlayers" optionLabel="name">
            <ng-template let-player pTemplate="item">
                <span>
                    <b>Nome: </b>{{player.name}} | <b>Nickname: </b>{{player.nickname}} | <b>Game: </b>{{player.game}}
                </span>
            </ng-template>
        </p-listbox>
        <!-- <h3><b>Legenda</b></h3>
        <ul>
            <li>
                <h4 class="full-time">Membro Efetivo</h4>
            </li>
            <li>
                <h4 class="substitute"><b>Membro Suplente</b></h4>
            </li>
        </ul> -->
    </div>
</div>
<p-dialog [(visible)]="displayHelp" [modal]="true" [draggable]="false" [dismissableMask]="true" [blockScroll]="true"
    [resizable]="false">
    <h3><b>Criação de um Jogador</b></h3>
    <p>
        Os jogadores devem ser criados apenas para os jogos em formato individual (1v1) pelo que a lista de jogos a que
        se pode associar um jogador apenas apresenta jogos nesse estilo.
    </p>
    <p>
        Relembramos que é necessário criar e ativar préviamente as edições e jogos para quais os jogadores vão ser
        criados.
    </p>
    <h3><b>Passos</b></h3>
    <ol>
        <li>Selecionar o jogo associado ao jogador no campo <b>"Jogo"</b></li>
        <li>Inserir o nome <i>(real)</i> do jogador no campo <b>"Nome"</b></li>
        <li>Inserir o nickname <i>(in-game)</i> do jogador no campo <b>"Nickname"</b></li>
        <li>Selecionar o curso do jogador no campo <b>"Curso"</b></li>
        <li>Carregar no botão <b>"Adicionar Jogador"</b></li>
    </ol>
    <hr>
    <p>
        A edição à qual o jogador ficará associado encontra-se assinalada no lado esquerdo do ecrã.
    </p>
    <p>
        Todos os jogadores ficam registados e são visíveis na lista apresentada no lado esquerdo do ecrã.
    </p>
</p-dialog>
<p-toast position="bottom-center" optionLabel="name"></p-toast>