@import '../../colors.scss';

#players{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-list{
    list-style-type: none;
    margin: 0;
}

