<div id="players">
    <p-accordion class="player-accordion" [multiple]="true" styleClass="p-accordion">
        <p-accordionTab header="JURUBURUS">
        </p-accordionTab>
        <p-accordionTab header="BlitzMyCrank">
        </p-accordionTab>
        <p-accordionTab header="Team FEM">
        </p-accordionTab>
    </p-accordion>
</div>
