@import '../colors.scss';

#app {
    min-height: 100%;
    display: flex;

    #content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        width: 100%;
        padding-bottom: 70px;

        background-image: url("../assets/img/background.png");
        background-size: cover;

        #background {
            height: 100%;
            width: 100%;
            position: fixed;
            overflow: hidden;

            @mixin background-planet($height, $margin-left, $margin-top, $h-offset, $v-offset, $radius, $color, $brightness, $blur) {
                height: $height;
                margin-left: $margin-left;
                margin-top: $margin-top;
                filter: drop-shadow($h-offset $v-offset $radius $color) brightness($brightness) blur($blur);
            }

            #planet-1 {
                @include background-planet(18%, 8vw, 4vh, 2px, 2px, 3px, #7c59d4, 1.2, 1px);
            }

            #planet-2 {
                @include background-planet(15%, 45vw, 45vh, 3px, 3px, 5px, #5240a0, 1.15, 2px);
            }

            #planet-3 {
                @include background-planet(8%, 60vw, 5vh, 3px, 0px, 3px, #98d7fc94, 1.05, 3px);
            }
        }

        /* applies style to every routed component */
        router-outlet+ ::ng-deep *:not(app-home-page) {
            padding: 10px;
            z-index: 1001;
            display: flex;
            flex: 1;

            &>div {
                align-self: center;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #app {
        flex-direction: column;

        #content {
            padding: 60px 0px;
        }
    }
}
