<div id="app">
    <app-side-bar></app-side-bar>
    <div id="content">
        <div id="background">
            <img id="planet-1" data-depth="0.8" src="../../assets/img/planet-1.png" />
            <img id="planet-2" data-depth="0.4" src="../../assets/img/planet-2.png" />
            <img id="planet-3" data-depth="0.2" src="../../assets/img/planet-3.png" />
        </div>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>