@import '../../colors.scss';

.schedule-background{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 0 0.2rem #e7b8e6 !important;
    width: 75%;
    margin-left: 12.5%;
}

.schedule{
    padding: 10px;
}

.day{
    font-size: 20px;
    color: $informatico;
    padding-left: 10px;
}