<div class="schedule-background">
    <div>
        <span class="day">14/07</span>
    </div>
    <div class="schedule">
        <p-timeline class="schedule-timeline" [value]="events" align="alternate">
            <ng-template pTemplate="content" let-event>
                {{event.status}}
            </ng-template>
        </p-timeline>
    </div>
    <div>
        <span class="day">14/07</span>
    </div>
    <div class="schedule">
        <p-timeline class="schedule-timeline" [value]="events" align="alternate">
            <ng-template pTemplate="content" let-event>
                {{event.status}}
            </ng-template>
        </p-timeline>
    </div>
    <div>
        <span class="day">14/07</span>
    </div>
    <div class="schedule">
        <p-timeline class="schedule-timeline" [value]="events" align="alternate">
            <ng-template pTemplate="content" let-event>
                {{event.status}}
            </ng-template>
        </p-timeline>
    </div>
</div>

