@import '../../colors.scss';

#admin {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 0px 0px 15px black;
    display: flex;
    flex-direction: column;
    align-items: center;

    p-tabmenu,
    ::ng-deep .p-tabmenu,
    ::ng-deep .p-tabmenu-nav {
        width: 100%;
        justify-content: center;

        li.p-highlight>a {
            border-color: $informatico;
            color: $informatico;

            &:focus {
                box-shadow: 0 0 0 0.2rem #eebaed;
            }
        }
    }

    router-outlet+ ::ng-deep * {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px;
    }
}