<div id="admin">
    <p-tabMenu [model]="tabs" [activeItem]="findActiveRoute()"></p-tabMenu>
    <router-outlet></router-outlet>
</div>
<p-toast position="bottom-center" [preventOpenDuplicates]="true"></p-toast>