<div>
    <form [formGroup]="createMatchForm">
        <div>
            <label for="match-player-1">Jogador 1</label>
            <input id="match-player-1" type="text" pInputText formControlName="player1" required />
            <small *ngIf="createMatchForm.controls.player1.invalid && !createMatchForm.controls.player1.pristine">
                Jogador 1 é obrigatório!
            </small>
        </div>
    </form>
    <button pButton class="p-button-text p-button-raised p-button-primary" type="button" label="Adicionar Partida"
        [disabled]="createMatchForm.invalid" (click)="createMatch()"></button>
</div>