#standings {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #groupTabs {
        width: 90%;
        z-index: 1001;
    }
}