<div>
    <form [formGroup]="updateMatchForm">
        <div>
            <label for="match">Jogo</label>
            <input id="match" type="text" pInputText formControlName="match" required />
            <small *ngIf="updateMatchForm.controls.match.invalid && !updateMatchForm.controls.match.pristine">
                Partida é obrigatório!
            </small>
        </div>
    </form>
    <button pButton class="p-button-text p-button-raised p-button-primary" type="button" label="Atualizar Partida"
        [disabled]="updateMatchForm.invalid" (click)="updateMatch()"></button>
</div>