<div id="update-edition">
    <a (click)="showDialog()">
        <i id="help-icon" class="fas fa-question-circle"></i>
    </a>
    <form [formGroup]="updateEditionForm">
        <div>
            <label for="edition">Edição</label>
            <p-dropdown [options]="editions" formControlName="edition" optionLabel="name" optionValue="id"
                [autoDisplayFirst]="false"></p-dropdown>
            <small class="p-error"
                *ngIf="updateEditionForm.controls.edition.invalid && !updateEditionForm.controls.edition.pristine">
                Edição é obrigatório!
            </small>
        </div>
        <div>
            <label for="status">Estado</label>
            <p-dropdown [options]="status" formControlName="status" optionLabel="description" optionValue="number"
                [autoDisplayFirst]="false"></p-dropdown>
            <small class="p-error"
                *ngIf="updateEditionForm.controls.status.invalid && !updateEditionForm.controls.status.pristine">
                Estado é obrigatório!
            </small>
        </div>
    </form>
    <button pButton class="p-button-text p-button-raised p-button-primary" type="button" label="Alterar Edição"
        [disabled]="updateEditionForm.invalid" (click)="updateEdition()"></button>
    <div id="list-editions">
        <h3><b>Edições</b></h3>
        <p-listbox [options]="editions" optionLabel="name">
            <ng-template let-edition pTemplate="item">
                <span [ngClass]="{'open-edition': edition.status === 1, 'current-edition': edition.status === 2}">
                    {{edition.name}}
                </span>
            </ng-template>
        </p-listbox>
        <h3><b>Legenda</b></h3>
        <ul>
            <li>
                <h4>Edição Inativa</h4>
            </li>
            <li>
                <h4 class="open-edition"><b>Edição com Inscrições Abertas</b></h4>
            </li>
            <li>
                <h4 class="current-edition"><b>Edição a Decorrer</b></h4>
            </li>
        </ul>
    </div>
</div>
<p-dialog [(visible)]="displayHelp" [modal]="true" [draggable]="false" [dismissableMask]="true" [blockScroll]="true"
    [resizable]="false">
    <h3><b>Alteração de uma Edição</b></h3>
    <p>
        As edições contêm 3 possíveis estados:
    </p>
    <ul>
        <li><b>Inativa</b>: Estado associado a uma edição anterior - não se deve fazer quaisquer alterações a estas
            edições.</li>
        <li><b>Inscrições Abertas</b>: Estado associado a uma edição cujas inscrições se encontram abertas - ativa o
            botão da inscrição na barra lateral.</li>
        <li><b>Ativa</b>: Estado associado à edição presentemente a decorrer - permite adicionar equipas, jogadores e
            partidas à mesma.</li>
    </ul>
    <p>
        Os dados inseridos nas seguintes <i>tabs</i> serão associados à edição a decorrer pelo que uma edição deve ser
        ativada antes de proceder à criação de equipas, jogadores ou partidas.
    </p>
    <h3><b>Passos</b></h3>
    <ol>
        <li>Selecionar a edição no campo <b>"Edição"</b></li>
        <li>Selecionar o estado para que a edição deve transicionar no campo <b>"Estado"</b></li>
        <li>Carregar no botão <b>"Alterar Edição"</b></li>
    </ol>
    <hr>
    <p>
        Todas as edições anteriores ficam registadas e são visíveis na lista apresentada em baixo dos campos a
        preencher.
    </p>
    <p>
        As cores representam o estado de cada edição e a legenda específica o significado de cada cor.
    </p>
</p-dialog>
<p-toast position="bottom-center" optionLabel="name"></p-toast>