<div id="teams">
    <p-accordion class="team-accordion" [multiple]="true" styleClass="p-accordion">
        <p-accordionTab header="JURUBURUS">
            <ul class="player-list">
                <li class="player">António Afonso</li>
                <li class="player">Matilde Dias</li>
                <li class="player">João Silva</li>
                <li class="player">Luis Silva</li>
                <li class="player">Daniel Lourenço</li>
              </ul>
        </p-accordionTab>
        <p-accordionTab header="BlitzMyCrank">
            <ul class="player-list">
                <li class="player">António Afonso</li>
                <li class="player">Matilde Dias</li>
                <li class="player">João Silva</li>
                <li class="player">Luis Silva</li>
                <li class="player">Daniel Lourenço</li>
              </ul>
        </p-accordionTab>
        <p-accordionTab header="Team FEM">
            <ul class="player-list">
                <li class="player">António Afonso</li>
                <li class="player">Matilde Dias</li>
                <li class="player">João Silva</li>
                <li class="player">Luis Silva</li>
                <li class="player">Daniel Lourenço</li>
              </ul>
        </p-accordionTab>
    </p-accordion>
</div>
