<div id="create-game">
    <a (click)="showDialog()">
        <i id="help-icon" class="fas fa-question-circle"></i>
    </a>
    <form [formGroup]="createGameForm">
        <div>
            <label for="game-name">Nome</label>
            <input id="game-name" type="text" pInputText formControlName="name" required />
            <small class="p-error"
                *ngIf="createGameForm.controls.name.invalid && !createGameForm.controls.name.pristine">
                Nome é obrigatório!
            </small>
        </div>
        <div>
            <p-checkbox formControlName="isSingleplayer" label="1 Jogador" [binary]="true"></p-checkbox>
        </div>
    </form>
    <button pButton class="p-button-text p-button-raised p-button-primary" type="button" label="Adicionar Jogo"
        [disabled]="createGameForm.invalid" (click)="createGame()"></button>
    <div id="list-games">
        <h3><b>Jogos</b></h3>
        <p-listbox [options]="games" optionLabel="name">
            <ng-template let-game pTemplate="item">
                <span [ngClass]="{'active-game': game.status === 1}">
                    {{game.name}}
                </span>
                <span>
                    &nbsp;|&nbsp;
                </span>
                <span [ngClass]="{'single-player': game.isSingleplayer, 'multi-player': !game.isSingleplayer}">
                    {{game.isSingleplayer ? 'SP' : 'MP'}}
                </span>
            </ng-template>
        </p-listbox>
        <h3><b>Legenda</b></h3>
        <ul>
            <li>
                <h4>Jogo Inativo</h4>
            </li>
            <li>
                <h4 class="active-game"><b>Jogo Ativo</b></h4>
            </li>
            <li>
                <h4 class="single-player">SP -> 1v1 (1 Jogador)</h4>
            </li>
            <li>
                <h4 class="multi-player">MP -> 5v5 (Vários Jogadores)</h4>
            </li>
        </ul>
    </div>
</div>
<p-dialog [(visible)]="displayHelp" [modal]="true" [draggable]="false" [dismissableMask]="true" [blockScroll]="true"
    [resizable]="false">
    <h3><b>Criação de um Jogo</b></h3>
    <p>
        Os dados das equipas, jogadores e partidas são associados aos jogos em que estas se inscrevem/participam pelo
        que a criação dos mesmos é necessário. É importante especificar se o jogo consiste em partidas em grupo (3v3,
        5v5, outro...) ou jogador contra jogador (1v1).
    </p>
    <p>
        Os jogos podem ser usados aquando a criação ou em edições posteriores, podendo ser ativados a qualquer momento.
    </p>
    <h3><b>Passos</b></h3>
    <ol>
        <li>Inserir o nome do jogo no campo <b>"Nome"</b></li>
        <li>Ativar a <i>checkbox</i> com o nome <b>"1 Jogador" se o jogo for do estilo 1v1</b></li>
        <li>Carregar no botão <b>"Adicionar Jogo"</b></li>
    </ol>
    <hr>
    <p>
        Todas os jogos ficam registados e são visíveis na lista apresentada em baixo dos campos a
        preencher.
    </p>
    <p>
        As cores representam o estado de cada jogo e a legenda específica o significado de cada cor.
    </p>
</p-dialog>
<p-toast position="bottom-center" optionLabel="name"></p-toast>