// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'colors.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$esports-aeisep-primary: mat-palette($mat-indigo);
$esports-aeisep-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$esports-aeisep-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$esports-aeisep-theme: mat-light-theme((color: (primary: $esports-aeisep-primary,
      accent: $esports-aeisep-accent,
      warn: $esports-aeisep-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($esports-aeisep-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', Roboto, "Helvetica Neue", sans-serif !important;
}

* {
  box-sizing: border-box;

  /* remove scrollbar (maybe we can make a prettier one?) */
/*   -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  } */
}

/* primeng styles override */
.p-toast-bottom-center {
  z-index: 9999 !important;
  bottom: 0px !important;
  transform: translateX(-50%);
  margin-left: 125px !important;
  margin-bottom: 70px;
}

.p-inputtext:enabled {
  &:hover {
    border-color: #c992c8 !important;
  }
  &:focus {
    border-color: #c992c8 !important;
    box-shadow: 0 0 0 0.2rem #e7b8e6 !important;
  }
}

.p-button-primary {
  color: #e67ae4 !important;
}

.common-table {
  width: 90%;

  &>.p-datatable {
      border: 1px solid #000;
      box-shadow: 0px 0px 15px $main-color;

      .p-datatable-thead>tr>th {
          background: #6b6b6b80;
          border: 1px solid #6b6b6b80;
          border-bottom: 3px solid #80f4f8;
          color: #80f4f8;
          text-align: center;

          & .p-sortable-column-icon {
              color: #80f4f8;
          }

          &:not(.p-sortable-column) {
              color: #81f4f880;
          }

          &.p-sortable-column {
              &:hover {
                  background: #bdbdbdbf;
              }

              &:focus {
                  box-shadow: none;
              }

              &:not(.p-highlight) .p-sortable-column-icon {
                  display: none;
              }
          }
      }

      .p-datatable-tbody>tr {
          &:hover {
              background: #d8d8d8;
          }

          &>td {
              text-align: center;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              &.p-field-name,
              &.p-field-team {
                  text-align: left;
              }

              &:not(.p-sortable-row-field) {
                  opacity: 0.5;
              }
          }
      }

      .p-paginator .p-highlight {
          background: #9ed0df80;
      }

      .p-link:focus {
          box-shadow: 0 0 0 0.2rem #c4edfa80;
      }
  }
}

.team-accordion{
  width: 90%;

  &>.p-accordion{

      box-shadow: 0px 0px 15px $main-color;
      border-radius: 4px;
      border: 1px solid #000;

      .p-accordion-header-link:focus{
          box-shadow: 0 0 0 0.2rem $informatico !important;
      }

      .p-accordion-header-text{
        font-family: "Montserrat", Roboto, "Helvetica Neue", sans-serif !important;
      }

      .p-accordion-content{
        font-family: "Montserrat", Roboto, "Helvetica Neue", sans-serif !important; 
      }

  }
}

.player-accordion{
  width: 90%;
  pointer-events: none;

  &>.p-accordion{

      box-shadow: 0px 0px 15px $main-color;
      border-radius: 4px;
      border: 1px solid #000;

      .p-accordion-header-text{
        font-family: "Montserrat", Roboto, "Helvetica Neue", sans-serif !important;
      }

  }
}

.schedule-timeline{
  width: 90%;

  &>.p-timeline{
    .p-timeline-event-marker{
      border: 2px solid $informatico;
    }

    .p-timeline-event-content{
      font-family: "Montserrat", Roboto, "Helvetica Neue", sans-serif !important;
    }
  }
}