#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .poster {
      position: relative;
      width: 50%;
      border-radius: 1rem;
    }

    #trailer-outside-wrapper {
        height: 80%;
        width: 80%;
        flex: 0;

        #trailer-wrapper {
            background-image: url('../../assets/img/trailer-wrapper.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            filter: drop-shadow(0px 0px 8px #fff);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding-top: 56.25%;

            iframe {
                position: absolute;
                height: 75%;
                width: 80%;
                top: 50%;
                transform: translateY(-54%);
                border: 2px solid #5252527a;
                box-shadow: 0px 0px 3px #525252;
            }
        }
    }
}

@media only screen and (max-width: 992px) and (orientation: landscape) {
    #trailer-wrapper {
        padding-top: 35% !important;

        iframe {
            height: 70% !important;
            width: 50% !important;
            transform: translateY(-55%) !important;
        }
    }
}
