<div id="home-page">
    <div id="trailer-outside-wrapper">
        <div id="trailer-wrapper">
          <iframe
          src="https://www.youtube.com/embed/I93EqUA2t7w"
          title="eSports ISEP League 2023"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
          </iframe>

        </div>
    </div>
</div>

<!--  <div id="home-page">-->
<!--    <img class="poster" src="../../assets/img/home-page.png" alt="Home Page Image">-->
<!--  </div>-->
