<div id="statistics">
    <p-table #dataTable class="common-table" [columns]="columns" [value]="dataSource" [paginator]="true" [rows]="10" [loading]="isLoading"
        styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let column of columns" [style.width]="column.width">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let column of columns" [pSortableColumn]="column.field"
                    [pSortableColumnDisabled]="!column.canSort">
                    {{ column.header }} <p-sortIcon *ngIf="column.canSort" [field]="column.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let column of columns"
                    [ngClass]="column.canSort ? 'p-sortable-row-field p-field-' + column.field : 'p-field-' + column.field">
                    {{ rowData[column.field] }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>